.header {
    margin: var(--space-96) var(--space-24);
    padding: 0 var(--space-24);
    height: var(--header-height);

    position: relative;

    display: flex;
    justify-content: space-between;

    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    line-height: var(--line-height-small);
    letter-spacing: var(--letter-spacing-small);
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: var(--space-12);
}

.header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    height: 105px;
    width: 148px;
}

.logo__img {
    margin: 0 auto;
}

.header__about {
    align-self: center;

    width: 240px;

    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: start;
}

.about__text {
    white-space: wrap;
}

.about__text--underline {
    text-decoration: underline;
    text-decoration-color: currentColor;
    text-underline-offset: 4px;
}